.eggcontainer {
    width: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.eggcontainer .eggcontent {
    width: 50%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.eggcontainer .eggcontent .pulse-anim {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #000;
    
    box-shadow: 0 0 0 0 #000;
    animation: pulse 1.3s infinite;
}

.eggcontainer .eggcontent h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 18px rgba(0, 0, 0, 0.01);
    }
}

/* Apparition */

h3 {
    margin-top: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    animation: apparition 0.8s ease-out;
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

a {
    text-decoration: none;
}